[submodule "components/esp-homekit-sdk"]
	path = components/esp-homekit-sdk
	url = https://github.com/espressif/esp-homekit-sdk.git
[submodule "components/ArduinoJson/src"]
	path = components/ArduinoJson/src
	url = https://github.com/bblanchon/ArduinoJson.git
[submodule "components/PubSubClient/src"]
	path = components/PubSubClient/src
	url = https://github.com/knolleary/pubsubclient.git
[submodule "components/WebSockets/src"]
	path = components/WebSockets/src
	url = https://github.com/Links2004/arduinoWebSockets.git
