.theia/
debug_custom.json
esp32.vsd
esp32s3.svd
debug.cfg

.vscode/
.claude/

docs/
wiki/
warnings.txt

# ESP-IDF build artifacts
build/
sdkconfig
managed_components/
dependencies.locksdkconfig.old
test/unit/build/
test/unit/build-cov/